#service {
    padding: 10px;
    padding-top: 6em;
    padding-bottom: 10em;
}

html {
    scroll-behavior: smooth;
}

.service__heading {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-transform: uppercase; */
    margin-bottom: 1em;
}

.service__heading p {
    font-weight: bold;
    letter-spacing: 2px;
    color: #39b54a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.service__heading h1 {
    color: white;
    padding-bottom: 0.5em;
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: black;
    /* border: 1px solid red; */
}

.service__heading h1::after {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80%;
    height: 1px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.123);
}

.service__parent__box {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service__box {
    padding-top: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.service__box p {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: .7em;
}

.service__box h1 {
    text-align: center;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.523);
}

.service__box:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: red;
    top: 20px;
    background: url("../Asset/development.svg");
    color: #39b54a;
}

.service__box:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: red;
    top: 30px;
    background: url("../Asset/design.svg");
    color: #39b54a;
}

@media only screen and (min-width: 451px) {


    #service {
        padding-top: 10em;
    }

    .service__heading {
        /* border: 1px solid red; */
        width: 60%;
        margin: auto;
    }

    .service__heading p {
        font-size: 1.2rem;
    }

    .service__heading h1 {
        padding-bottom: 1em;
        font-size: 3rem;
        /* border: 1px solid red; */
    }

    .service__heading h1::after {
        width: 60%;
        border-radius: 100%;
    }

    .service__parent__box {
        /* padding-top: 3em; */
        /* border: 1px solid red; */
        flex-direction: row;
        width: 100%;
    }

    .service__box {
        /* border: 1px solid black; */
        padding: 4em;
        width: 35%;
    }

    .service__box p {
        /* border: 1px solid red; */
        font-size: 1.8rem;
        width: 100%;
    }

    .service__box h1 {
        text-align: left;
        font-size: 1.2rem;
    }

    .service__box:nth-child(1)::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: red;
        top: 70px;
        left: -10px;
        background: url("../Asset/development.svg");
        color: #39b54a;
    }

    .service__box:nth-child(2)::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: red;
        top: 70px;
        left: -10px;
        background: url("../Asset/design.svg");
        color: #39b54a;
    }
}