#skill {
    /* padding: 10px; */
    padding-top: 6em;
    padding-bottom: 10em;
    background-color: #f5f5f7;
}

html {
    scroll-behavior: smooth;
}

.service__heading {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-transform: uppercase; */
    margin-bottom: 1em;
}

.service__heading p {
    font-weight: bold;
    letter-spacing: 2px;
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.service__heading h1 {
    /* color: white; */
    padding-bottom: 0.5em;
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: #111111;
    /* border: 1px solid red; */
}

.service__heading h1::after {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80%;
    height: 1px;
    transform: translate(-50%, -50%);
    background-color: #8e8e93;
}

.service__parent__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #111111;
    padding: 40px 10px 40px 10px;
}

.item__box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.skill__item {
    /* width: 80px; */
    text-align: center;
    padding: 10px;
    background-color: #f5f5f7;
    color: #111111;
    /* border-radius: 5px; */
}




@media only screen and (min-width: 451px) {


    .service__heading {
        /* border: 1px solid red; */
        width: 60%;
        margin: auto;
    }

    .service__heading p {
        font-size: 1.2rem;
    }

    .service__heading h1 {
        padding-bottom: 1em;
        font-size: 3rem;
        /* border: 1px solid red; */
    }

    .service__heading h1::after {
        width: 60%;
        border-radius: 100%;
    }

    .service__parent__box {
        padding: 60px 10px 60px 10px;
        background: none;
    }

    .item__box {
        width: 50%;
        gap: 20px;
    }

    .skill__item {
        text-align: center;
        padding: 10px;
        background-color: #111111;
        color: #f5f5f7;
        font-size: 1.4rem;
        transition: all .25s ease-in-out;
    }

    .skill__item:hover {
        transition: all 0.25s ease !important;
        transform: scale(1.1) !important;
        background-color: #f5f5f7;
        color: #111111;
    }
}