#about {
    background-color: #111111;
    padding: 10px;
    padding-top: 5em;
    padding-bottom: 5em;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

.heading {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.heading p {
    font-weight: bold;
    color: #f5f5f7;
    letter-spacing: 2px;
}

.heading h1 {
    color: #f5f5f7;
    padding-bottom: 0.5em;
    position: relative;
}

.heading h1::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #8e8e93;
}

.about__content {
    text-align: center;
    line-height: 2;
    padding: 10px;
    color: #f5f5f7;
}

.about__boxes {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.box>p {
    color: #f5f5f7;
}

.box:nth-child(1):after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #8e8e93;
}

/* .box:nth-child(2):after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.232);
} */

.box h1 {
    color: #f5f5f7;
    font-size: 5rem;

}

.box p {
    font-weight: bold;
    font-size: 1.2rem;
}

@media only screen and (min-width: 451px) {
    #about {
        padding-top: 10em;
        padding-bottom: 10em;
    }

    .heading p {
        font-size: 1.2rem;
    }

    .heading h1 {
        font-size: 3rem;
        padding-bottom: 1.3em;
    }

    .about__content {
        /* border: 1px solid red; */
        font-size: 1.3rem;
        width: 60%;
        margin: auto;
    }

    .about__boxes {
        /* border: 1px solid red; */
        flex-direction: row;
    }

    .box {
        /* border: 1px solid black; */
        width: 20%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .box:nth-child(1):after {
        content: ' ';
        position: absolute;
        left: 100%;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #8e8e93;
    }

    /* .box:nth-child(2):after {
        content: ' ';
        position: absolute;
        left: 100%;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.232);
    } */

    .about__boxes {
        padding: 3em;
    }
}