html {
    scroll-behavior: smooth;
}

.home__parent {
    position: relative;
    text-align: center;
    padding: 25px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background: url('https://images.pexels.com/photos/841228/pexels-photo-841228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    line-height: 1.3;
    z-index: 1;
    background-color: #111111;
}


.home__text {
    position: relative;
    color: #f5f5f7;
}

.home__para {
    font-size: 18px;
    /* color: #39b54a; */
    font-weight: 600;
    text-align: left;
    /* margin-bottom: 10px; */
    /* text-shadow: 2px 2px 0px white; */
}

.home__heading {
    font-size: 35px;
    /* color: #39b54a; */
    font-weight: 800;
    text-align: left;
    /* line-height: 1.4; */
    /* text-shadow: 2px 2px 0px white; */
}

.home__buttons {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.home__buttons a {
    border: 2px solid #f5f5f7;
    /* border-radius: 5px; */
    padding: 12px 22px 12px 22px;
    margin-bottom: 10px;
    background: transparent;
    font-size: 18px;
    color: #f5f5f7;
    font-weight: bold;
    outline: none;
    transition: background-color .5s ease;
    /* margin-left: 20px; */
    text-decoration: none;
}

.home__buttons a:hover {
    cursor: pointer;
    background-color: #f5f5f7;
    color: #111111;
}



.home__scroll {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    /* transform: translateX(-50%); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 250px; */
    gap: 10px;
    animation: scroll 1.5s ease infinite;
}

/* home_scroll Aniamtion */

@keyframes scroll {
    0% {
        transform: translate(-50%, -70%);

    }

    50% {
        transform: translate(-50%, -90%);
    }

    100% {
        transform: translate(-50%, -70%);
    }
}

.home__scroll:hover {
    cursor: pointer;
}

.scroll__text {
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

@media only screen and (min-width: 451px) {


    .home__parent {
        align-items: center;
    }

    .home__text {
        /* padding-left: 120px; */
        line-height: 1.4;
        /* border: 1px solid red; */
    }

    .home__para {
        font-size: 1.3em;
        text-align: center;

    }

    .home__heading {
        font-size: 4em;
        text-align: center;
    }

    .home__buttons {
        flex-direction: row;
        /* padding-left: 100px; */
    }

    .home__buttons a {
        margin: 10px;
        font-size: 18px;
        letter-spacing: 2px;

    }

    /* 
    .home__scroll {
        top: 90%;
    } */
}

/* Media Query for small screen devices */
@media only screen and (max-width: 375px) {
    .home__parent {
        padding-top: 125px;
    }
}