#work {
    /* border: 1px solid red; */
    /* padding: 10px; */
}

.work__parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6em;
    position: relative;
    padding: 10px;
}

.work__parent::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #111111;
    z-index: -2;
}


.work__heading {
    text-align: center;
    /* padding: 10px; */
}

.work__heading p {
    color: #39b54a;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.work__heading h1 {
    padding-bottom: 2rem;
    color: white;
    position: relative;
}

.work__heading h1::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    transform: translate(50%, -50%);
    background-color: rgba(255, 255, 255, 0.134);
}

.work__parent__box {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
}

.work__box {
    /* border: 1px solid white; */
    width: 100%;
    height: 400px;
    margin-bottom: .5rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    z-index: 10;
}

.work__box:nth-child(1):after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://images.pexels.com/photos/5662857/pexels-photo-5662857.png?cs=srgb&dl=pexels-tima-miroshnichenko-5662857.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: ; */
    z-index: -1;
    transition: transform .3s ease;
}

.work__box:nth-child(2):after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?cs=srgb&dl=pexels-sebastian-ervi-1763075.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: ; */
    z-index: -1;
    transition: transform .3s ease;
}

.work__box:nth-child(3):after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://images.pexels.com/photos/4113084/pexels-photo-4113084.jpeg?cs=srgb&dl=pexels-yaroslav-danylchenko-4113084.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: ; */
    z-index: -1;
    transition: transform .3s ease;
}

.work__box:nth-child(4):after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://images.pexels.com/photos/3640930/pexels-photo-3640930.jpeg?cs=srgb&dl=pexels-ena-marinkovic-3640930.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: ; */
    z-index: -1;
    transition: transform .3s ease;
}

.work__box::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0;
    transition: opacity .3s ease;
}

.work__box:hover::after {
    transform: scale(1.1);
}

.work__box:hover::before {
    opacity: .9;
}

.work__name {
    color: #39b54a;
    position: absolute;
    top: -35px;
    left: 20px;
    transition: top .3s ease-in-out;
    padding-bottom: .2rem;
    font-size: 1.5em;
}

.work__name::after {
    content: ' ';
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 100px;
    transition: width .3s ease;
}

.work__name:hover::after {
    width: 100%;
}

.work__box:hover p {
    top: 20px;
}

.work__box a {
    color: #39b54a;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    background: white;
    /* border-radius: ; */
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30%;
    font-size: 1.3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s ease;
}

.work__box:hover {
    cursor: pointer;
}

.work__box:hover a {
    opacity: 1;
}


/* Desktop view responsive */
@media only screen and (min-width: 1200px) {

    .work__parent::after {
        height: 70%;
    }


    .work__parent__box {
        /* border: 1px solid red; */
        width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }

    .work__box {
        width: 45%;
        height: 300px;
        margin: 5px;
        /* margin-bottom: 10px; */
    }
}