#work {
    /* border: 1px solid red; */
    /* padding: 10px; */
}

.work__parent {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-top: 6em;
    position: relative;
    padding: 10px;
    /* margin-bottom: 10px; */
}

.work__parent::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    z-index: -2;
}


.work__heading {
    text-align: center;
    /* padding: 10px; */
}

.work__heading p {
    color: #8e8e93;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.work__heading h1 {
    padding-bottom: 2rem;
    color: #f5f5f7;
    position: relative;
}

.work__heading h1::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    transform: translate(50%, -50%);
    background-color: #8e8e93;
}

.work__items {
    margin-top: 2rem;
}

.work__items__ul {
    display: flex;
    padding: 10px;
    flex-direction: column;
    /* gap: 50px; */
}

.work__list {
    /* border: 1px solid red; */

    /* padding-bottom: 10px; */
    list-style: none;
    color: #f5f5f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
    position: relative;
}

.work__list:nth-child(1) {
    border-bottom: 1px solid #8e8e93;
}

.work__list:nth-child(2) {
    border-bottom: 1px solid #8e8e93;
}

.work__list:nth-child(3) {
    border-bottom: 1px solid #8e8e93;
}

.work__list a {
    color: #8e8e93;
}

.work__list::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: #8e8e93;
    z-index: -1;
    transition: width .2s ease-in-out;
}

.work__list:hover::before {
    width: 100%;
}

.work__list:hover a {
    color: #f5f5f7;
}

.work__list a:hover {
    cursor: pointer;
}


/* Desktop view responsive */
@media only screen and (min-width: 768px) {
    .work__items__ul {
        align-items: center;

    }

    .work__list {
        width: 40%;
    }
}